<div class="col-xs-12 col-md-12" style="position:absolute;left:0;top:15px;">
    <div ng-expand="" expand="content" class="box module" style="margin:0px;position: relative" id="{{window_id}}">
        <div class="box-header" ng-draggable="" drag="{{window_id}}" style="position:relative;">
            <h3 class="box-title">Таблица</h3>
            <div class="pull-right box-tools">
                <button ng-resizable="" resize="{{window_id}}" type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-arrows-h"></i></button>
                <button ng-click="closeModal()" type="button" class="btn btn-default btn-sm" data-widget="remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div class="table-search">
                <input type="search" ng-change="searchTable()" class="form-control" ng-model="search" placeholder="Поиск">
            </div>

            <div>
                <table ng-datatable="" watch="records" class="table table-hover">
                    <thead>
                        <tr>
                            <th class=" ">Название</th>
                            <th class=" ">Клиент</th>
                            <th class=" ">Дата создания</th>
                            <th>Управление</th>
                        </tr>
                    </thead>

                    <tbody ng-if="isSearching==true" ng-include="'components/tableajaxload.html'"></tbody>

                    <tbody ng-if="records && isSearching!=true">
                        <tr ng-repeat="row in records track by $index" ng-class="{ selected: edit_id==row._id }" ng-click="selectRecord(row)">
                            <td class="">
                                <a ng-click="edit(row._id); $event.stopPropagation();" class=" ">{{ row.name }}</a>
                            </td>
                            <td class="">
                                <a ng-click="edit(row._id); $event.stopPropagation();" class=" ">{{ row.Contact.name }}</a>
                            </td>
                            <td class="">
                            </td>
                            <td>
                                <a ng-click="edit(row._id); $event.stopPropagation();"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a ng-click="delete(row._id); $event.stopPropagation();" ng-if="row._deleted == undefined || row._deleted == false"><span class="glyphicon glyphicon-trash"></span></a>
                                <a ng-click="restore(row._id); $event.stopPropagation();" ng-if="row._deleted == true"><span class="glyphicon glyphicon-repeat"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="box-footer">
            <div id="pagination-component-project" class="pull-left"></div>
            <button ng-click="add();" type="button" class="btn btn-default pull-right">Добавить запись</button>
        </div>
    </div>
</div>

<div id="modals"></div>