<div ng-expand="" expand="content" class="box module row" id="{{ window_id }}">
    <ng-form name="{{form.formName}}" class="form-horizontal" method="post" novalidate="">
        <div class="box-header module-head" style="position:relative" ng-draggable="" drag="{{ window_id }}">
            <h3 class="box-title" ng-if="!edit_id">Добавление записи</h3>
            <h3 class="box-title" ng-if="edit_id">Редактирование записи</h3>
            <div class="pull-right box-tools">
                <button ng-resizable="" resize="{{window_id}}" type="button" class="btn btn-default btn-sm">
            <i class="fa fa-arrows-h"></i></button>
                <button ng-click="closeModal(); closeForm();" type="button" class="btn btn-default btn-sm">
            <i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body module-body" ng-controller="ProjectFormController">
            <div class="form row">

                <div class="" ng-class="{ 'has-error' : ({{form.formName}}.$submitted || {{form.formName}}._id.$touched)  && {{form.formName}}._id.$invalid }">
                    <input type="hidden" id="_id" name="_id" ng-model="form.fields._id.value" class="form-control ">
                </div>





                <div class="col-xs-12 col-md-6" ng-class="{ 'has-error' : ({{form.formName}}.$submitted || {{form.formName}}.name.$touched)  && {{form.formName}}.name.$invalid }">
                    <label for="name" class=" ">Название</label>
                    <input ng-required="form.fields.name.required" id="name" name="name" ng-model="form.fields.name.value" class="form-control ">
                    <div ng-show="{{form.formName}}.$submitted || {{form.formName}}.name.$touched" class="">
                        <span ng-show="{{form.formName}}.name.$invalid">Неправильное значение</span>
                    </div><br class="">
                </div>





                <div class="col-xs-12 col-md-6" ng-class="{ 'has-error' : ({{form.formName}}.$submitted || {{form.formName}}._clientId.$touched)  && {{form.formName}}._clientId.$invalid }">
                    <label for="_clientId" class=" ">Клиент </label>
                    <small>
                        <a ng-click="toggleClientModal()">выбрать в новом окне</a>, <a ng-click="editClient(form.fields._clientId.value)">редактировать</a>
                    </small>
                    <select ng-init="form.fields._clientId.ajaxLoad()" ng-change="form.fields._clientId.updateData();" id="_clientId" name="_clientId" ng-model="form.fields._clientId.value" class="form-control " ng-required="form.fields._clientId.required">
                        <option ng-repeat="option in form.fields._clientId._selectOptions" value="{{ option.value }}">{{ option.title }}</option>
                    </select>
                    <div ng-show="{{form.formName}}.$submitted || {{form.formName}}._clientId.$touched" class="">
                        <span ng-show="{{form.formName}}._clientId.$invalid">Неправильное значение</span>
                    </div><br class="">
                </div>





                <div ng-if="form.fields._id.value" ng-init="init(form.fields._id.value)" ng-controller="TaskListController" class="col-xs-12 col-md-12" ng-class="{ 'has-error' : ({{form.formName}}.$submitted || {{form.formName}}._tasks.$touched)  && {{form.formName}}._tasks.$invalid }">
                    <label for="_tasks" class=" ">Задачи</label>
                    <small><a ng-click="add();">добавить</a></small>

                    <div>
                        <div>
                            <table ng-datatable="" watch="records" class="table table-hover">
                                <tbody ng-if="isSearching==true" ng-include="'components/tableajaxload.html'"></tbody>
                                <tbody ng-if="records && isSearching!=true">
                                <tr ng-repeat="row in records track by $index" ng-class="{ selected: edit_id==row._id }" ng-click="selectRecord(row)">
                                    <td class=""><a ng-click="edit(row._id); $event.stopPropagation();" class=" ">{{ row.comment }}</a></td>
                                    <td class=""><a ng-click="edit(row._id); $event.stopPropagation();" class=" ">{{ row.User.firstName }}</a></td>
                                    <td class=""><i18n ng-if="row.executed == 'true'">Выполнено</i18n></td>
                                    <td>
                                        <a ng-click="edit(row._id); $event.stopPropagation();"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a ng-click="delete(row._id); $event.stopPropagation();" ng-if="row._deleted == undefined || row._deleted == false"><span class="glyphicon glyphicon-trash"></span></a>
                                        <a ng-click="restore(row._id); $event.stopPropagation();" ng-if="row._deleted == true"><span class="glyphicon glyphicon-repeat"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="module-foot">
                        <span id="pagination-component-task"></span>
                    </div>


                </div>





                <div class="col-xs-12 col-md-6" ng-class="{ 'has-error' : ({{form.formName}}.$submitted || {{form.formName}}.createdAt.$touched)  && {{form.formName}}.createdAt.$invalid }">
                    <label for="createdAt" class=" ">Дата создания</label>
                    <input ng-datepicker="" id="createdAt" name="createdAt" ng-model="form.fields.createdAt.value" class="form-control ">
                    <div ng-show="{{form.formName}}.$submitted || {{form.formName}}.createdAt.$touched" class="">
                        <span ng-show="{{form.formName}}.createdAt.$invalid">Неправильное значение</span>
                    </div><br class="">
                </div>

                <!--
                <div class="col-xs-12 cold-md-12">
                    <label><a href="https://drive.google.com/drive/folders/0B5iWqqjnY0YoRDZ4UWE3cHJjc2s?usp=sharing" target="_blank">Документы</a></label>
                    <iframe src="https://drive.google.com/embeddedfolderview?id=0B5iWqqjnY0YoRDZ4UWE3cHJjc2s" style="width:100%; height:200px;border: 0;"></iframe>
                </div>
                -->



            </div>
        </div>


        <div class="module-foot">
            <button type="button" class="btn btn-default" ng-click="closeForm()">Закрыть</button>
            <button type="submit" class="btn btn-default" ng-click="form.submit()">Сохранить</button>
        </div>
    </ng-form>
</div>